#header {
    color:black;
    text-align:right;
	padding:5px;
	width:100%;
}
#section {
    float:left;
    padding:10px;	 
	text-align:center;
	width:100%;
}
#footer {
	font-size:9px;
    height:50px;
	width:100%;
}