#body {
    background-color: #FAEBD7;
}
#header {
    background-color: #FAEBD7;
    color:black;
    text-align:right;
	padding:0px;
	width: 100%;
	font-size: 10px;
}
#section {
    background-color: #FAEBD7;
    float:left;
    padding:0px;	 
	text-align:center;
	width: 100%;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    height:50px;
	width: 100%;
	font-size: 12px;
}
#lamp {
  width: 80%;
  background-color: #ffc266;
  border-style: ridge;
  border-width: 4px;
  -webkit-box-shadow: #B3B3B3 4px 4px 4px;
  -moz-box-shadow:    #B3B3B3 4px 4px 4px;
  box-shadow:         #B3B3B3 4px 4px 4px;
}
