#body {
    background-color: #FAEBD7;
}
#header {
    background-color: #FAEBD7;
    color:black;
    text-align:right;
	padding:5px;
	width: 100%;
}
#section {
    background-color: #FAEBD7;
    float:left;
    padding:10px;	 
	text-align:center;
	width: 100%;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    height:50px;
	width: 100%;
	font-size: 12px;
}
#step1 {
  width: 75%;
  background-color: #ffc266;
  border-style: ridge;
  border-width: 4px;
  -webkit-box-shadow: #B3B3B3 6px 6px 6px;
  -moz-box-shadow:    #B3B3B3 6px 6px 6px;
  box-shadow:         #B3B3B3 6px 6px 6px;
}