body {
    background-color: white;
}

#header {
    background-color: lightblue;
    color:black;
    text-align:right;
    padding:5px;
}

#footer {
    background-color:lightblue;
    color:white;
    clear:both;
    text-align:center;
   padding:1px;	 	 
}
