body {
    background-color: #FAEBD7;
}
#header {
    background-color: #FAEBD7;
    color:black;
    text-align:left;
    padding:5px;
	width:450px;
}
#nav {
    background-color: #FAEBD7;
    line-height:16.7px;
    height:2099;
    width:300px;
    float:left;
    padding:5px;
	text-align:left;
}
#section {
    background-color: #FAEBD7;
    width:750px;
    float:left;
    padding:10px;	 
	text-align:center;
}
#aside {
    background-color: #FAEBD7;
    width:150px;
	height: 1000px;
    float:center;
    padding:10px;	 	 
}
#footer {
    background-color: black;
    color:white;
    clear:both;
    text-align:center;
    padding:1px;	 	 
}
